@import "../estilos/colores";
@import "../estilos/fuentes";
@import "../estilos/tipografia";

/*Map*/
$colores:(color1:black, color2:white, color3: grey);

@each $clave, $valor in $colores {
    .color-#{$clave} {
        background-color:$valor;
    }
}



@media (min-width:1024px)
{
    .sticky {
        top: 0px;
        position: sticky;
    }
}

@media (max-width:750px)
{
    .mobile {
        display: flex;
        top: 0px;
        justify-content: center;
    }
}

/*map-get*/
$estilo1: (
    color: $color2
);

li:hover{
    color: map-get($estilo1,color);   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.header {
    background-color: $color4;
    padding: 1rem;
    color: $color2;
}


/*extend*/
.footer {
    @extend.header;
    background-color: $color2;
}


.margin {
    margin: 0px;
}

nav {
    font-size: $tamano1;
}



.texto {
    color: $color2;
    font-size: $tamano1;
}

.texto1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    $tamaño1: 20px;
    color: $color2;
    font-size: $tamano1;
}

.img {
    width: 100px;
    height: auto;
}

/*mixin*/
@mixin fontsize {
    font-size: $tamano2;
}

.li-color {
    @include fontsize;
    color: $color1;
}
